streamlit                             
streamlit_webrtc                                                           
opencv-python                             
mediapipe
ultralytics
pytube
super-gradients
imutils
roboflow
