streamlit                             
streamlit_webrtc                                                           
opencv-python-headless                             
mediapipe
ultralytics
pytube
super-gradients
imutils
roboflow
