streamlit                             
streamlit_webrtc                                                           
opencv-python-headless                             
ffmpeg
libgl1-mesa-glx
mediapipe
ultralytics
pytube
super-gradients
imutils
roboflow
